<div class="col-10 offset-1 About">
  <h1>About Splurty</h1>

   <p>
    Tennis Splurty was built by Amber L McGregor. A web developers on a mission to restart an IT career and get a few laughs from the Tennis community.
  </p>
  <br />
  <p>
    Amber has worked in IT for over fifteen years but has formally out of the industry for about ten years.  During the past ten years she has worked as a Real Estate / Property Manager and Office Manager.  These jobs have had flexible hours and enabled her to raise three children.  Now that her second child has got his license to drive she is ready to return to IT workforce and is revamping her skills at the Denver University - Web Development Bootcamp.
  </p>
  <p>
    Amber has developed this website while attending the Denver University - Web Development Bootcamp.  She followed the instruction and used the template created by Marco Morawec and Ken Mozaika
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

 <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'AmberPic.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Amber McGregor</h2>
      <br />
      <p>
         Amber has worked in IT for over fifteen years but has formally out of the industry for about ten years.  During the past ten years she has worked as a Real Estate / Property Manager and Office Manager.  These jobs have had flexible hours and enabled her to raise three children.  Now that her second child has got his license to drive she is ready to return to IT workforce and is revamping her skills at the Denver University - Web Development Bootcamp.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />